.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.category__card__icon {
  height: 15rem;
  width: 15rem;
  cursor: pointer;
  border-radius: 10px;
  transition: transform ease-in-out 0.5s;
  filter: grayscale(1);

  -webkit-filter: grayscale(1);
  background-image: url("https://images.squarespace-cdn.com/content/v1/54131064e4b065f40cc9059a/1475795603235-4F7NJ40SR0XWU0VY16AK/ke17ZwdGBToddI8pDm48kDalWL1vWeUfiVuFBduo28RZw-zPPgdn4jUwVcJE1ZvWQUxwkmyExglNqGp0IvTJZamWLI2zvYWH8K3-s_4yszcp2ryTI0HqTOaaUohrI8PIUoIfiCkeMrQ9gDeqbtpv207wZy3szp8WnurAZUP-hd8KMshLAGzx4R3EDFOm1kBS/elderly+music.jpg");
  background-size: contain;
}

.category__card__icon:hover {
  transform: scale(1.2);
  filter: none;
  -webkit-filter: none;
}

.selected {
  filter: none !important;
  -webkit-filter: none !important;
}
