.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.category__card__icon {
  height: 15rem;
  width: 15rem;
  cursor: pointer;
  border-radius: 10px;
  transition: transform ease-in-out 0.5s;
  filter: grayscale(1);
  -webkit-filter: grayscale(1);
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}

.category__card__icon :after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  opacity: 0;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}
.category__card__icon :hover:after {
  opacity: 1;
}

.category__card__icon > h3 {
  color: wheat !important;
  font-size: x-large;
  position: relative;
  z-index: 1;
}
.heading {
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background-color: rgba(58, 58, 58, 0.233);
  width: 100%;
  color: rgb(255, 255, 255);
  font-size: large;
}
.category__card__icon:hover {
  transform: scale(0.9);
}

.selected {
  filter: none !important;
  -webkit-filter: none !important;
  transform: scale(0.9);
}

.search_btn {
  margin-top: 2rem;
}

.clear_btn {
  margin-top: 2rem;
}
