.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 5em;
  max-width: 1000px;
  min-width: 320px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  border-radius: 8px;
  text-transform: capitalize;
  background-image: linear-gradient(
      135deg,
      #3a3e41 0%,
      #2a2d30 49%,
      #242628 100%
    ),
    linear-gradient(139deg, #434b54 1%, #2a2c2f 45%, #191b1e 75%);
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
  box-shadow: 1.875rem 1.5625rem 1.375rem rgb(21 22 24 / 24%),
    -4px -4px 15px rgb(195 200 205 / 4%);
  font-size: 10px;
}

.image {
  border-radius: 50%;
}
.bold {
  color: #fff;
  font-weight: 500;
  margin-left: 25px;
  cursor: pointer;
}
.common {
  color: #fff;
  opacity: 50%;
  font-weight: 400;
}
.details {
  display: flex;
  width: 300px;
  text-align: right;
}
.rhap_main_controls_button button {
  background: none;
  box-shadow: none;
}
@media screen and (max-width: 600px) {
  .row {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
    min-width: 0px;
  }
  .details {
    justify-content: center;
    align-items: center;
  }
  .music_icon {
    font-size: medium;
  }
  .music_button {
    margin-top: 5%;
    margin-right: auto !important;
    margin-left: auto !important;
    line-height: 0.7;
    font-size: 0.9rem;
    width: 50%;
    height: 50%;
    padding: 2% 2% !important;
    border-radius: 0.325rem;
  }
  .rhap_container {
    margin-left: unset;
    margin-right: unset;
    width: 90% !important;
    padding: 3rem;
  }
  .rhap_controls_section svg {
    justify-content: space-around !important;
    background: none;
    width: 25px;
    height: 25px;
  }
  .rhap_main_controls_button button {
    background: none;
    box-shadow: none;
  }
}
