.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 5em;
  max-width: 1000px;
  min-width: 320px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  border-radius: 25px;
  background-image: linear-gradient(
      135deg,
      #535a5f 0%,
      #5d5d5e 49%,
      #5b5f63 100%
    ),
    linear-gradient(139deg, #ffffff 1%, #2a2c2f 45%, #a7a7a7 75%);
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
    box-shadow: 1.875rem 1.5625rem 1.375rem rgb(21 22 24 / 24%),
      -4px -4px 15px rgb(195 200 205 / 4%);
}
.image {
  border-radius: 50%;
}
.bold {
  color: #fff;
  font-weight: 500;
  margin-left: 25px;
  cursor: pointer;
}
.common {
  color: #fff;
  opacity: 50%;
  font-weight: 400;
}
.details {
  display: flex;
  width: 300px;
  text-align: right;
}

@media screen and (max-width: 600px) {
  .row {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
  }
  .details {
    justify-content: center;
    align-items: center;
  }
}
