.button{
    position: fixed;
    bottom: 0;
    right: 0;
    margin-bottom: 15px;
    margin-right: 15px;
    height: 50px;
    width: 50px;
    color: wheat;
    font-size: 50px;
    cursor: pointer;
    transition: all 0.5s ease;
}