.neon {
  font-family: neon;
  color: #6ae7cc;
  font-size: 2vw;
  line-height: 2vw;
  text-shadow: 0 0 1vw #4ce2ec;
  padding-top: 1.1em;
  margin-left: 5%;
  cursor: pointer;
}

.neon {
  animation: neon 5s ease infinite;
  -moz-animation: neon 5s ease infinite;
  -webkit-animation: neon 5s ease infinite;
}
.nav__items {
  list-style: none;
  display: flex;
  margin: 30px;
  position: relative;
  z-index: 2;
}
.list__items {
  cursor: pointer;
  padding: 7px;
  margin-left: 30px;
  font-weight: 500;
  color: #d7e1ec9a;
  transition: width 1ms ease-in-out, border-bottom 1s;
}
.list__items:hover {
  border-bottom: 2px solid rgb(223, 206, 170);
}
.navbar__box {
  display: flex;
  justify-content: space-between;
  align-content: center;
  z-index: 100;
  height: 75px !important;
}
.getStarted__btn{
  display: none;
}
.scroll__header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: radial-gradient(
      37.53% 147.33% at 5.39% 8.57%,
      rgba(255, 255, 255, 0.07) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(180deg, #26282a 0%, #212325d0 100%);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px !important;
  z-index: 100;
  padding-top: 51px;
  padding-bottom: 51px;
}
.scroll__header .neon{
  padding-top: unset;
}
/* Header Navbar Ends Here */
.mobile__header,.dashnav_mobile {
  display: none;
}
@media only screen and (max-width: 600px) {
  .navbar__box {
    display: none;
  }
  .mobile__header {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .butn {
    margin-top: 5%;
    margin-right: 2%;
    line-height: 0.7;
    font-size: 1.2rem;
    width: 30%;
    padding: 2%;
    border-radius: 0.325rem;
  }
  .neon {
    font-family: neon;
    color: #6ae7cc;
    font-size: 2.2em;
    text-shadow: 0 0 1vw #4ce2ec;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: auto;
    margin-right: auto;
  }
  .dashboard {
    display: flex;
    flex-direction: column;
  }
  .dashnav_mobile {
    z-index: 502;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: fixed;
    bottom: 0px;
    left: 0;
    text-align: center;
    padding: 1.875rem 1.25rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    background-image: linear-gradient(
        135deg,
        #3a3e41 0%,
        #2a2d30 49%,
        #242628 100%
      ),
      linear-gradient(139deg, #fff6c6 1%, #2a2c2f 45%, #a19e7d 75%);
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
    box-shadow: 1.875rem 1.5625rem 1.375rem rgb(21 22 24 / 24%),
      -4px -4px 15px rgb(195 200 205 / 4%);
    min-width: 100%;
    height: 10%;
    font-size: x-large;
  }
  .text_mobile {
    font-size: xx-small;
    display: inline;
  }
  .navtext {
      display: flex;
      flex-direction: column;
      justify-content: start !important;
      margin-bottom: -6% !important;
      align-items: center;
      width: 50%;
  }
  .dashcontent_mobile {
    height: fit-content;
    min-width: 100%;
    border-radius: 0.55rem;
  }
}
  @keyframes neon {
  0%,
  50% {
    text-shadow: 0 0 0.8vw #cac70d, 0 0 1.5vw #800e0b, 0 0 5vw #d39d28,
      0 0 5vw #800e0b, 0 0 0.2vw #800e0b, 0.5vw 0.5vw 0.1vw #40340a;
    color: #ebc886;
  }
}