.header {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
  background: radial-gradient(
      37.53% 147.33% at 5.39% 8.57%,
      rgba(255, 255, 255, 0.07) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(180deg, #26282a 0%, #212325 100%);
}

.header-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 15%;
  margin-top: 5%;
  height: auto;
  width: 70%;
  padding: 0;
  z-index: 1;
}
.vovoca-name {
  font-size: 250px;
  font-family: fantasy;
  color: #47474723;
  z-index: -1;
  margin-top: -250px;
}

.banner-image {
  width: 50%;
  z-index: 1;
}
.banner-heading {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  line-height: 1.2;
  color: #d7e1ec;
  width: 90%;
  font-size: xx-large;
}
.banner-sub-heading {
  font-family: 'Poppins', sans-serif;
  font-size: 1.05rem;
  line-height: 1.7;
  letter-spacing: 0;
  color: #d7e1ec9a;
  width: 90%;
}
.nav-bar {
  z-index: 100;
}
.nav-items {
  list-style: none;
  display: flex;
  margin: 30px;
  position: absolute;
  right: 10px;
  top: 5px;
}
.list-items {
  cursor: pointer;
  padding: 7px;
  right: 10%;
  margin-left: 30px;
  font-weight: 500;
  color: #d7e1ec9a;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  transition: width 0.5s ease, border-bottom 1s;
}
.list-items:hover {
  border-bottom: 4px solid rgb(10, 155, 155);
}
.butn {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-width: 0.125rem 0.125rem 0.125rem 0.1875rem;
  border-style: solid;
  border-color: transparent;
  font-weight: 500;
  letter-spacing: 0;
  background-image: linear-gradient(
      166deg,
      transparent 0% 50%,
      #2d3135 50%,
      #3e4248 100%
    ),
    linear-gradient(166deg, #3e4248 0%, #2a2e32 50%, #3e4248 50%, #313437 100%);
  background-position: 0% 0%, 100% 100%;
  background-size: 200% 200%;
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
  color: #b4c0ce;
  text-shadow: inherit;
  box-shadow: 8px 8px 22px rgb(21 22 24 / 38%),
    -4px -2px 16px rgb(195 200 205 / 8%);
  transition: 0.5s ease-in-out;
  padding: 0.6875rem 2.5rem;
  font-size: 1.05rem;
  line-height: 1.7;
  border-radius: 0.625rem;
  cursor: pointer;
  margin-top: -10px;
  margin-left: 15px;
}
@font-face {
  font-family: neon;
  src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/707108/neon.ttf);
}

.neon {
  font-family: neon;
  color: #6ae7cc;
  font-size: 2vw;
  line-height: 2vw;
  text-shadow: 0 0 1vw #4ce2ec;
  z-index: 100;
  margin-top: 2%;
  margin-left: 5%;
}
.neon {
  animation: neon 3s ease infinite;
  -moz-animation: neon 3s ease infinite;
  -webkit-animation: neon 3s ease infinite;
}

@keyframes neon {
  0%,
  50% {
    text-shadow: 0 0 0.8vw #cac70d, 0 0 1.5vw #800e0b, 0 0 5vw #800e0b,
      0 0 5vw #800e0b, 0 0 0.2vw #800e0b, 0.5vw 0.5vw 0.1vw #40340a;
    color: #f7c364;
  }
}
