/* ------------------------------------------------------------------------------ */

/* Header Banner Starts Here */
.image-svg {
  margin-top: -100%;
}
.header-info {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-left: 15%;
  margin-top: 5%;
  height: auto;
  width: 70%;
  padding: 0;
  z-index: 1;
}
.vovoca-name {
  font-size: 300px;
  font-family: fantasy;
  color: #47474723;
  z-index: -1;
  margin-top: -40%;
  margin-bottom: -7px;
}

.banner-image {
  width: 45vw;
  z-index: 2;
  margin-top: -9%;
  margin-right: -10%;
}
.banner-heading {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  line-height: 1.2;
  color: #d7e1ec;
  width: 90%;
  font-size: xx-large;
}
.banner-sub-heading {
  font-family: 'Poppins', sans-serif;
  font-size: 1.05rem;
  line-height: 1.7;
  letter-spacing: 0;
  color: #d7e1ec9a;
  width: 90%;
}

/* Header Banner Ends Here */
/* ---------------------------------------------------------------------- */

/* Some Common CSS Here */
.butn {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-width: 0.125rem 0.125rem 0.125rem 0.1875rem;
  border-style: solid;
  border-color: transparent;
  font-weight: 500;
  letter-spacing: 0;
  background-image: linear-gradient(
      166deg,
      transparent 0% 50%,
      #2d3135 50%,
      #3e4248 100%
    ),
    linear-gradient(166deg, #3e4248 0%, #2a2e32 50%, #3e4248 50%, #313437 100%);
  background-position: 0% 0%, 100% 100%;
  background-size: 200% 200%;
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
  color: #b4c0ce;
  text-shadow: inherit;
  box-shadow: 8px 8px 22px rgb(21 22 24 / 38%),
    -4px -2px 16px rgb(195 200 205 / 8%);
  transition: 0.5s ease-in-out;
  padding: 0.6875rem 2.5rem;
  font-size: 1.05rem;
  line-height: 1.7;
  border-radius: 0.625rem;
  cursor: pointer;
  margin-top: -10px;
  margin-left: 15px;
}
@font-face {
  font-family: neon;
  src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/707108/neon.ttf);
}
.draw {
  border: 3px solid cyan;
}
.butn:hover {
  animation: draw 4s ease infinite;
  -moz-animation: draw 4s ease infinite;
  -webkit-animation: draw 4s ease infinite;
}

/* Smaller Screen Size Starts Here */
@media only screen and (max-width: 600px) {
  .vovoca-name {
    font-size: 15vh;
    margin-top: -25vh;
  }
  .banner-heading {
    font-size: x-large;
    margin-top: 20%;
  }
  .banner-sub-heading {
    font-size: 0.9rem;
  }
  .header-info {
    display: flex;
    flex-direction: column;
    z-index: 201;
  }
  .mobile-view {
    width: 130%;
    margin-left: 15%;
  }
  .banner-image {
    display: none;
  }
  .btn {
    width: 50%;
    margin-bottom: 5%;
  }
}
@media only screen and (min-width: 768px){
  .banner-heading {
    font-size: x-large;
    margin-top: 20%;
  }

}
/* KeyFrames Here */
@keyframes neon {
  0%,
  50% {
    text-shadow: 0 0 0.8vw #cac70d, 0 0 1.5vw #800e0b, 0 0 5vw #800e0b,
      0 0 5vw #800e0b, 0 0 0.2vw #800e0b, 0.5vw 0.5vw 0.1vw #40340a;
    color: #f7c364;
  }
}
@keyframes draw {
  0%,
  50% {
    box-shadow: 8px 8px 10px rgb(21 22 24 / 38%),
      -4px -2px 10px rgb(195 200 205 / 8%);
    color: #f3af32;
  }
}
