.btn {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-width: 0.125rem 0.125rem 0.125rem 0.1875rem;
  border-style: solid;
  border-color: transparent;
  font-weight: 500;
  letter-spacing: 0;
  background-image: linear-gradient(
      166deg,
      transparent 0% 50%,
      #2d3135 50%,
      #3e4248 100%
    ),
    linear-gradient(166deg, #3e4248 0%, #2a2e32 50%, #3e4248 50%, #313437 100%);
  background-position: 0% 0%, 100% 100%;
  background-size: 200% 200%;
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
  color: #b4c0ce;
  text-shadow: inherit;
  box-shadow: 8px 8px 22px rgb(21 22 24 / 38%),
    -4px -2px 16px rgb(195 200 205 / 8%);
  transition: 0.5s ease-in-out;
  padding: 0.6875rem 2.5rem;
  font-size: 1.25rem;
  line-height: 1.7;
  border-radius: 0.625rem;
  cursor: pointer;
  margin-top: -10px;
  white-space: nowrap;
}
.btn:hover {
  text-decoration: none;
  background-position: 100% 100%, 0% 0%;
  color: #d7e1ec;
  box-shadow: 8px 8px 22px rgb(21 22 24 / 38%),
    -4px -2px 16px rgb(195 200 205 / 8%),
    inset -2px -2px 4px rgb(54 54 57 / 16%),
    inset 2px 2px 4px rgb(30 30 32 / 18%);
}
hr {
  margin-top: 0;
  margin-bottom: 0;
  border: 0;
  border-top: 1px solid rgba(29, 31, 35, 0.8);
}
.divider::after {
  display: block;
  content: '';
  height: 1px;
  width: 100%;
  background-image: linear-gradient(180deg, #2e3138 0%, #43464e 100%);
  opacity: 0.9;
}
body {
  margin: 0px;
  background: radial-gradient(
      37.53% 147.33% at 5.39% 8.57%,
      rgba(255, 255, 255, 0.07) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(180deg, #26282a 0%, #212325 100%);
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
@media only screen and (max-width: 600px) {
  .btn {
    line-height: 0.7;
    font-size: 0.9rem;
    border-radius: 0.325rem;
    width: 50%;
  }
}
@media only screen and (max-width: 360px) {
  .btn {
    margin-top: 5%;
    margin-right: 2%;
    line-height: 0.7;
    font-size: 0.9rem;
    width: 30%;
    padding: 4%;
    border-radius: 0.325rem;
  }
}