@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

html,
body {
  margin: auto;
  background: radial-gradient(
      37.53% 147.33% at 5.39% 8.57%,
      rgba(255, 255, 255, 0.07) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(180deg, #26282a 0%, #212325 100%);
  overflow-x: hidden !important;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

hr {
  margin-top: 0;
  margin-bottom: 0;
  border: 0;
  border-top: 1px solid rgba(29, 31, 35, 0.8);
}

textarea {
  background-image: linear-gradient(166deg, #2c2d2f 0% 100%),
    linear-gradient(166deg, #525a63 0%, #2e353c 50%, #616972 50%, #3e464f 100%);
  background-size: auto auto, 200% 200%;
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
  box-shadow: inset 2px 2px 8px rgb(4 4 5 / 60%);
  transition: 0.7s ease-in-out;
  padding: 1rem 1.25rem;
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.74;
  color: #d7e1ec;
  background-color: #2c2d2f;
  background-clip: padding-box;
  border: 1px solid transparent;
  border-radius: 0.625rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  resize: none;
}

button {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-width: 0.125rem 0.125rem 0.125rem 0.1875rem;
  border-style: solid;
  border-color: transparent;
  font-weight: 500;
  letter-spacing: 0;
  background-image: linear-gradient(
      166deg,
      transparent 0% 50%,
      #2d3135 50%,
      #3e4248 100%
    ),
    linear-gradient(166deg, #3e4248 0%, #2a2e32 50%, #3e4248 50%, #313437 100%);
  background-position: 0% 0%, 100% 100%;
  background-size: 200% 200%;
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
  color: #b4c0ce;
  text-shadow: inherit;
  box-shadow: 8px 8px 22px rgb(21 22 24 / 38%),
    -4px -2px 16px rgb(195 200 205 / 8%);
  transition: 0.5s ease-in-out;
  padding: 0.68rem 2.5rem;
  font-size: 1.2rem;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  border-radius: 0.625rem;
  cursor: pointer;
  margin-top: -5px;
  white-space: nowrap;
  outline: none;
}
button:hover {
  text-decoration: none;
  background-position: 100% 100%, 0% 0%;
  color: #d7e1ec;
  box-shadow: 8px 8px 22px rgb(21 22 24 / 38%),
    -4px -2px 16px rgb(195 200 205 / 8%),
    inset -2px -2px 4px rgb(54 54 57 / 16%),
    inset 2px 2px 4px rgb(30 30 32 / 18%);
}

ul {
  padding-inline-start: unset !important;
}
.divider::after {
  display: block;
  content: "";
  height: 1px;
  width: 100%;
  background-image: linear-gradient(180deg, #2e3138 0%, #43464e 100%);
  opacity: 0.9;
}
.divider-main::after {
  display: block;
  content: "";
  height: 1px;
  width: 100%;
  background-image: linear-gradient(180deg, #2e3138 0%, #43464e 100%);
  opacity: 0.9;
  margin-bottom: 55px;
}
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 10px rgba(27, 26, 26, 0);
  background-color: #26282a;
}

/* Handle */
::-webkit-scrollbar-thumb {
  cursor: pointer;
  box-shadow: inset 0 0 10px rgba(2, 2, 2, 0.993);
  background: radial-gradient(
      37.53% 147.33% at 5.39% 8.57%,
      rgba(255, 255, 255, 0.07) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(180deg, #5c5959 0%, #3f3e3c 100%);
  border-radius: 10px;
  transition: all ease 2s;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: radial-gradient(
      37.53% 147.33% at 5.39% 8.57%,
      rgba(255, 255, 255, 0.07) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(180deg, rgb(194, 175, 141) 0%, rgb(151, 136, 108) 100%);
}
.rhap_container {
  background-color: unset !important;
  box-shadow: unset !important;
  width: 600px !important;
  margin-left: 55px;
  margin-right: 55px;
}
.rhap_time {
  color: rgb(136, 135, 133) !important;
}
.rhap_controls-section {
  justify-content: space-around !important;
}
.rhap_additional-controls {
  display: none !important;
}
.rhap_volume-controls {
  display: none !important;
}
.rhap_progress_filled{
  background-color: #8b6b2b;
  border-radius: 10px;
}
@media only screen and (max-width: 600px) {
  button {
    line-height: 0.7;
    font-size: 0.9rem;
    border-radius: 0.325rem;
    margin-left: auto !important;
    margin-right: auto !important;
  }
  .rhap_container {
    margin-left: unset;
    margin-right: unset;
    width: 90% !important;
  }
  .rhap_horizontal {
    flex-direction: column !important;
  }
  .divider-main::after{
    margin-bottom: unset;
  }
}
@media only screen and (max-width: 360px) {
  button {
    margin-top: 5%;
    margin-right: auto !important;
    margin-left: auto !important;
    line-height: 0.7;
    font-size: 0.9rem;
    padding: 5%;
    border-radius: 0.325rem;
  }
}
